DB_NAME=app
DB_USER=golang
DB_PASSWORD=secret
DB_PORT=5432

DB_TEST_NAME=app_test
DB_USER_TEST=golang_test
DB_PASSWORD_TEST=secret_test
DB_HOST=postgres_test
DB_TEST_PORT=5432


BASE_SITE=http://hero-site.io
SENTRY_DSN=https://000.ingest.us.sentry.io/666
 