name: linter

on:
  push:
    branches: [main]
jobs:

  lint:
    name: Lint
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24'
        
    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v8
      with:
        version: v2.1.0   
        args: --timeout=5m

  
